.hdr {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}

.btn {
  background-color: yellow;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
}