* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

}
html, body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.card {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.navbar {
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}