* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

h1 {
  font-size: 48px;
  margin: 20px;
  background-color: rgb(128, 124, 124);
  width: fit-content;
  padding: 10px 70px;
  border-radius: 10px;
}