* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  margin: 0px;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3 {
  font-size: 17px;
  font-weight: 600;
}
.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 700;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 700;
  border: 1px solid #dadada;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}