* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}

.card p {
  margin: 20px 0px;
}
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
} 
.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}